<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings />
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
  <!--<startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>-->
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.Utils.v11.1" publicKeyToken="B88D1754D700E49A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-11.1.6.0" newVersion="11.1.6.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
